@page "/hr/edit/{EditId:int}"
@attribute [Authorize(Roles = "HR Admin")]
<h3 class="mt-4 text-center">Edit Profile</h3>

@if (updateModel == null)
{
	<p class="text-center">Loading...</p>
}
else
{
	<div class="text-center">
		<StatusMessage Message="@message" />
	</div>
	<EditForm Model="updateModel" OnValidSubmit="SubmitForm" FormName="EditProfileForm">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row justify-content-center text-center">
			<div class="col-md-6">

				<div class="mb-3">
					<label>Full Name</label>
					<InputText @bind-Value="updateModel.FullName" class="form-control" />
				</div>

				<div class="mb-3">
					<label>Email</label>
					<InputText @bind-Value="updateModel.Email" class="form-control" />
				</div>

				<InputSelect @bind-Value="updateModel.DepartmentId" class="form-control">
					@foreach (var dep in departmentDTOs)
					{
						<option value="@dep.Id">@dep.Name</option>
					}
				</InputSelect>


				<div class="mb-3">
					<label>Job Title</label>
					<InputText @bind-Value="updateModel.JobTitle" class="form-control" />
				</div>
				<div class="mb-3">
					<label>Salary</label>
					<InputText @bind-Value="updateModel.Salary" class="form-control" />
				</div>
				<InputSelect @bind-Value="updateModel.Role" class="form-control">
					@foreach (var roles in roleDTOs)
					{
						<option value="@roles.Name">@roles.Name</option>
					}
				</InputSelect>

				<button type="submit" class="btn btn-primary w-100">Save Changes</button>

			</div>
		</div>

	</EditForm>
}
@code {
	[Parameter]
	public int EditId { get; set; }
	private string? message;
	private List<DepartmentDTO> departmentDTOs = new();
	private List<RoleDTO> roleDTOs = new();	
	[SupplyParameterFromForm]
	private EditHRDTO updateModel { get; set; } = new();
	private HttpClient client => ClientFactory.CreateClient("ApiClient");
	protected override async Task OnInitializedAsync()
	{
		try
		{
			departmentDTOs = await client.GetFromJsonAsync<List<DepartmentDTO>>("api/department/all");
			roleDTOs = await client.GetFromJsonAsync<List<RoleDTO>>("api/hr/roles/all");
		}
		catch (Exception ex)
		{
			message = $"Error loading data: {ex.Message}";
		}
	}
	private async Task SubmitForm(EditContext args)
	{
		var response =
			await client.PutAsJsonAsync<EditHRDTO>($"api/hr/edit/{EditId}", updateModel);
		if (response.IsSuccessStatusCode)
		{
			message = "Updated successfully.";
		}
		else
		{
			message = "Update failed.";
		}
	}
}
